#N
#S
clk
rst_n
eoc
sample_tick
sar_clk_en
#E
sample_en
adc[11]
adc[10]
adc[9]
adc[8]
adc[7]
adc[6]
adc[5]
adc[4]
adc[3]
adc[2]
adc[1]
adc[0]
#W
comp_p
dac[11]
dac[10]
dac[9]
dac[8]
dac[7]
dac[6]
dac[5]
dac[4]
dac[3]
dac[2]
dac[1]
dac[0]
